body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #000;
}

.container {
    grid-column: 12 span;
    background-size: cover;
    background-position: center;
}

#header {
    background-image: url('../images/1_header.jpg');
    height: 1049px;
}
#life {
    background-image: url('../images/2_life_is.jpg');
    height: 621px;
}
#we_join {
    background-image: url('../images/3_we_join.jpg');
    height: 341px;
}
#what_we {
    background-image: url('../images/4_what_we_do.jpg');
    height: 973px;
}
#the_team {
    background-image: url('../images/5_the_team.jpg');
    height: 969px;
}
#we_work {
    background-image: url('../images/6_we_work_for.jpg');
    height: 854px;
}